.modal-wrapper{
  position: absolute;
  background: rgba(0,0,0,.5);

  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}


.modal-wrapper > .modal{
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  background: #EEE;
  width: 30%;
  min-width: 400px;
  border: 1px solid #666;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}

@media all and (max-width:  600px) {
  .modal-wrapper > .modal{
    width: 95%;
    min-width: auto;
  }
}


.modal > .header {
  border-top: 1px solid #EEE;
  background: #CCC;
  padding: 8px;
  font-size: 1.5em;
  font-weight: bold;
}

.modal > .content {
  padding: 10px;
}

.modal > .footer {
  border-top: 1px solid #BBB;
  padding: 10px;
}

.modal > .footer > button {
  padding: 7px;
  background: #CCC;
  border: 1px solid #999;
  margin-right: 20px;
  box-shadow: inset 1px 1px 0 rgba(255,255,255,.8);
}

.modal > .footer > button:hover {
  cursor: pointer;
  background-color: #BBB;
}

.modal > .footer > button:focus{
  outline: 0;
}

.modal > .footer > button:active {
  box-shadow: inset 1px 1px 5px rgba(0,0,0,.6), inset -1px -1px 0 rgba(255,255,255,.6);
}
