*{
  box-sizing: border-box;
}

header {
  background: #343434;
  color: #EEE;
}

header h1 {
  position: relative;
  display: block;
  margin: 0;
  padding: 0.5em;
  float: left;
}

header ul{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 17px;
}

header ul > li{
  margin-left: 20px;
  margin-right: 5px;
  float: left;
}

header ul > li > button{
  border: 1px solid #444;
  background: #EEE;
  padding: 8px;
  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6);
}

header ul > li > button:hover{
  background: #CCC;
  cursor: pointer;
  box-shadow: inset 1px 1px 0px rgba(0,0,0,0.9);
}

header span{
  position: absolute;
  float: left;
  margin-top: 26px;
}

.content {
  overflow: auto;
  max-width: 55em;
  margin: 0 auto;
}

.main-wrapper{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  border-top: 1px solid #CCC;
  margin-top: 10px;
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
}

.game {
  position: relative;
  display: block;
  padding: 0.1em;
  border: 1px solid #CCC;
  margin: 10px auto;
  width: 65%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.game > .card{
  display: block;
  position: relative;
  float: left;
  /*flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 25%;*/
  padding: 0px;
  border: 1px solid #CCC;
  margin: 0;
  width: 25%;
  padding-bottom: 25%;
  border-radius: 3px;
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
  text-align: center;
  transition: 0.6s;
	transform-style: preserve-3d;
}

.game.my-turn > .card:hover{
  background: #DDD;
  cursor: pointer;
}

.game.my-turn > .card.found:hover{
  cursor: default;
  background: #EEE;
}

.card > div{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	top: 0;
	left: 0;
}

.card > .back{
  background-color: #CCC;
}

.card.found > .back{
  background-color: rgba(0,255,0,.2);
}

.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}


.card.flipped {
	transform: rotateY(180deg);
}

.card.found {
	transform: rotateY(180deg);
}


.players{
  width:25%;
  margin-top: 10px;
}

.players > .player{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  background: #EEE;
  margin-right: 10px;
  height: 4em;
  width: 100%;
  justify-content: flex-start;
}

.players > .player.current{
  background: rgba(0,255,0,.18);
}

.player > .profile{
  font-weight: bold;
  color: green;
}

.scoreboard{
  list-style: decimal;
}

#pointer{
  position: absolute;
  width: 20px;
  height: 20px;
  background: #333;
  left: 0;
  top: 0;
  transition: left 0.3s, top 0.3s;
}

@media all and (max-width:  600px) {
  .game {
    width: 100%;
  }
  .players{
    width:100%;
    margin-top: 0px;
  }
}
